            /* PC 
            .wrap {width:1000px; margin:0 auto;}
            .visual { height: 100px; background:purple;}
            .left{float: left; width:30%;height: 100px; background: blue;} 
            .center{float: left; width:40%;height: 100px; background: gray;}
            .right{float: right; width:30%;height: 100px; background: greenyellow;}
            */
body { background: red;}