body{
    background-color: crimson;
}

.btn{
    cursor: pointer;
}

h1 {
    color:pink;
    transition: color 0.5s ease-in-out 
}
/* id로 로드시 # */
#title{
    color:salmon;
}

.color{
    color: slateblue;
}